<div class="row ">
  <% if params[:plan] == '2' %>
  <div class= "col-md-6 col-md-offset-3">
    <h1 class="text-center">Pro account</h1>
    <p class="text-center">Signup for free for the basic membership to the community</p>
    <% else %>
    <h1 class="text-center">Free account</h1>
    <p class="text-center">Signup for premium membership into community</p>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3">
      <div class="well">
    
        <h2>Sign up</h2>
        
        <% if params[:plan] == '2' %>
        <%= render"pro_form" %>
        <% else %>
        <%= render "basic_form" %>
        <% end %>
        <%= render "devise/shared/links" %>
        </div>
    </div>    
</div>