<div class="jumbotron text-center">
    <h1>Welcome to devmatch</h1>
    <h3>A membership site where entrepreneurs can meet developers</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4>Signup for free for the basic membership to the community</h4>
            <%= link_to "Signup for basic", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro membership</h2>
            <h4>Signup for premium membership into community</h4>
            <%= link_to "Signup pro", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
        </div>
    </div>
</div>
