<!DOCTYPE html>
<html>
    <body>
    
        <p>You have received the email from the contact form from the application 
        from <%= "#{@name},  #{@email}" %>
        </p>
        <p>
            <%= "#{@body}" %>
        </p>
    </body>
</html>
